<div id="data-citation">
<p><strong>Data accessibility and reproducibility</strong>:
All data used in this report are available from our data repository.
Should you identify any issues or have questions please raise an issue on
<a href="https://github.com/globaldothealth/outbreak-data">GitHub</a> or write to
us: <a href="mailto:info@global.health">info@global.health</a>.
This report may be cited as:
</p>
<p class="citation-text">
Global.health {{ description }} briefing report, published {{ published_date }}, retrieved from<br>
https://reports.global.health/{{ name }}/{{ published_date }}.html
</p>
<p>If you cite this report, please also cite the relevant sources, which are
mentioned in our <a href="https://github.com/globaldothealth/outbreak-data/wiki/{{ id }}">outbreak information page</a>.
</p>
</div>
</main></body></html>
