<div id="data-citation">
    <p><strong>Disclaimer</strong>: Caution must be taken when interpreting all data presented. While steps are taken to
        ensure accuracy and reliability, all data are subject to continuous verification and change. Global.health makes
        no warranties or representations regarding the contents, appearance, completeness, technical specifications, or
        accuracy of the report. Global.health disclaims all responsibility relating to, and shall not be liable for, any
        use of the report, the results of such use, or the reliance thereon. Global.health reserves the right to make
        updates and changes to the report without notice, and accepts no liability for any errors or omissions in this
        regard. The user of the report is responsible for the interpretation and use of the analysis and outputs
        performed by the report. </p>
    <p><strong>Data accessibility and reproducibility</strong>:
        All data used in this report are available from our data repository.
        Should you identify any issues or have questions please raise an issue on
        <a href="https://github.com/globaldothealth/outbreak-data">GitHub</a> or write to
        us: <a href="mailto:info@global.health">info@global.health</a>.
        This report may be cited as:
    </p>
    <p class="citation-text">
        Global.health {{ description }} briefing report, published {{ published_date }}, retrieved from<br>
        https://reports.global.health/{{ name }}/{{ published_date }}.html
    </p>
    <p>If you cite this report, please also cite the relevant sources, which are
        mentioned in our <a href="https://github.com/globaldothealth/outbreak-data/wiki/{{ id }}">outbreak information
            page</a>.
    </p>
</div>
</main></body></html>
