<section id="summary">
    <h2>Summary</h2>
    <p class="section-description">
        This section is a summary of the current situation with key developments since the last update.
    </p>

    <p>
        Highly pathogenic avian influenza (HPAI) outbreaks have primarily affected wild and domesticated bird
        populations, with occasional human spillover. In 2024, the United States (U.S.) reported the first known
        infection of H5N1 in dairy cattle, rapidly evolving into a multispecies outbreak among cattle and poultry
        with spillover into humans.
    </p>

    <p>
        Currently, there are <strong>{{ n_confirmed }} confirmed and {{ n_probable }} probable human cases in
        {{n_unique_states}} states.</strong>
    </p>

    <br/>

    <p class="table-caption">
        <strong>Table 1. Outbreak Summary.</strong> Number of new and total cases of key epidemiological measures for
        avian influenza. Data as of February 28, 2025.
    </p>
    <table class="summary-table">
        <tr>
            <td>
                <h3>Human Confirmed Cases</h3><br/>
                <img id="confirmed_img" src="images/confirmed.png">
                <script>
                    if ({{ n_new_confirmed }} > 0 ) {
                     document.getElementById("confirmed_img").src = "images/confirmed_new.png";
                    }
                </script>
                <br/>
                <span class="outbreak-summary-values">New: <strong>{{ n_new_confirmed }}</strong> <br/>
                    Total: <strong>{{ n_confirmed }}</strong></span>
            </td>
            <td>
                <h3>Human Probable Cases</h3>
                <br/>
                <img id="probable_img" src="images/probable.png">
                <script>
                    if ({{ n_new_probable }} > 0 ) {
                     document.getElementById("probable_img").src = "images/probable_new.png";
                    }
                </script>
                <br/>
                <span class="outbreak-summary-values">New: <strong>{{ n_new_probable }}</strong> <br/>
                    Total: <strong>{{ n_probable }}</strong></span>
            </td>
            <td>
                <h3>Human Deaths</h3><br/>
                <img id="dead_img" src="images/dead.png">
                <script>
                    if ({{ n_new_dead }} > 0 ) {
                     document.getElementById("dead_img").src = "images/dead_new.png";
                    }
                </script>
                <br/>
                <span class="outbreak-summary-values">New: <strong>{{ n_new_dead }}</strong><br/>
                    Total: <strong>{{ n_dead }}</strong></span>
            </td>
        </tr>
        <tr>
            <td>
                <h3>Farm Worker Infections</h3><br/>
                <img id="farmer_img" src="images/farmer.png">
                <script>
                    if ({{ n_new_farm_workers_infected }} > 0 ) {
                     document.getElementById("farmer_img").src = "images/farmer_new.png";
                    }
                </script>
                <br/>
                <span class="outbreak-summary-values">New: <strong>{{ n_new_farm_workers_infected }}</strong><br/>
                    Total: <strong>{{ n_farm_workers_infected }}</strong></span>
            </td>
            <td>
                <h3>Positive Commercial Poultry Farms</h3><br/>
                <img id="poultry_img" src="images/poultry.png">
                <script>
                    if ({{ n_new_poultry_cases }} > 0 ) {
                     document.getElementById("poultry_img").src = "images/poultry_new.png";
                    }
                </script>
                <br/>
                <span class="outbreak-summary-values">New: <strong>{{ n_new_poultry_cases }}</strong><br/>
                    Total: <strong>{{ n_poultry_cases }}</strong><br/>
                    # States Affected: <strong>{{ n_poultry_states_affected }}</strong><br/>
                    # U.S. Territory: <strong>{{ n_poultry_us_territory }}</strong></span>
            </td>
            <td class="is{{ n_new_cattle_cases }}">
                <h3>Positive Commercial Cattle Farms</h3><br/>
                <img id="cattle_img" src="images/cattle.png">
                <script>
                    if ({{ n_new_cattle_cases }} > 0 ) {
                     document.getElementById("cattle_img").src = "images/cattle_new.png";
                    }
                </script>
                <br/>
                <span class="outbreak-summary-values">New: <strong>{{ n_new_cattle_cases }}</strong> <br/>
                    Total: <strong>{{ n_cattle_cases }}</strong> <br/>
                        # States Affected: <strong>{{ n_cattle_states_affected }}</strong></span>
            </td>
        </tr>
    </table>
</section>

<section id="epidemiological-update">
    <h2>Epidemiological Update</h2>

    <p class="section-description">
        This section includes an epidemiological update with an epi curve, weekly case incidence, age and gender
        distribution, data availability chart, symptoms figure, and genomic data.
    </p>


    <br/>

    <p class="table-caption">
        <strong>Table 2</strong>: Number of <strong>confirmed human cases</strong> by state and exposure source and
        change in cases since the last report. Data as of February 28, 2025.
    </p>
    <div class="table-wrapper">
        <div class="table-scroll">
            {{{ avian_influenza_exposure_confirmed }}}
        </div>
    </div>


    <br/>

    <p class="table-caption">
        <strong>Table 3</strong>: Number of <strong>probable human cases</strong> by state and exposure source and
        change in cases since the last report. Data as of February 28, 2025.
    </p>

    <div class="table-wrapper">
        <div class="table-scroll">
            {{{ avian_influenza_exposure_probable }}}
        </div>
    </div>

    <br/>
    <br/>
    <br/>

    <figure>
        <figcaption>
            <strong>Epi curve.</strong> Number of cumulative confirmed cases by date confirmation. Data are primarily
            collected from local and state health departments and CDC updates.
        </figcaption>

        {{{ epicurve }}}
    </figure>

    <br/>
    <br/>

    <figure>
        <figcaption>
            <strong>Weekly Case Incidence.</strong> Number of new confirmed cases reported in the past 7 days by date of
            confirmation. Data are primarily collected from local and state health departments and CDC updates.
        </figcaption>

        {{{ trailing_case_count }}}
    </figure>

    <br/>
    <br/>

    <figure>
        <figcaption><strong>Data Availability.</strong> Percentage of cases with data available for outbreak schema
            variables. Data are derived from the G.h linelist.
        </figcaption>

        {{{ data_availability }}}
    </figure>

    <br/>
    <br/>

    <figure>
        <figcaption>
            <strong>Age and Gender Distribution.</strong> Number of cases by age and gender. Data are primarily
            collected from local and state health department reports and CDC updates. 6% (n=4) of confirmed cases
            include sufficient metadata to be included in this figure. When reported age ranges span multiple age
            categories, counts are evenly distributed among the categories that capture the reported age range.
        </figcaption>

        {{{ avian_influenza_age_gender }}}
    </figure>

    <br/>
    <br/>

    <figure class="wordcloud">
        <figcaption>
            <strong>Symptoms.</strong> Percentage of confirmed and probable cases with symptom type. Data are primarily
            collected from local and state health department reports and CDC updates. 82% (n=64) of cases include
            sufficient metadata to be included in this figure.
        </figcaption>

        {{{wordcloud}}}
        {{{term_frequency}}}
    </figure>

    <br/>
    <br/>

    <figure>
        <figcaption>
            <strong>Genomic Data.</strong> Number of confirmed cases by genotype. At this time, all confirmed human
            cases are clade 2.3.3.4b. Data are primarily from CDC updates and GISAID. 13% (n=9) of confirmed cases
            include sufficient metadata to be included in this figure.
        </figcaption>
        {{{avian_influenza_genomics}}}
    </figure>

    <p>
        <strong>Case Definitions:</strong> According to <a
            href="https://cdn.ymaws.com/www.cste.org/resource/resmgr/position_statements_files_2023/24-ID-09_Novel_Influenza_A.pdf"
            target="_blank">Council of State and Territorial Epidemiologists (CSTE)</a> guidance. When a human case
        tests positive for H5 at a public health laboratory and the result is confirmed by CDC testing, a case is
        reported as confirmed. When a human case tests positive for H5 at a public health laboratory but testing at CDC
        is not able to confirm H5 infection, a case is reported as probable.
    </p>
</section>

<section id="context-background">
    <h2>Context & Background</h2>

    <p>
        Highly pathogenic avian influenza (HPAI) H5N1 is a zoonotic virus primarily infecting wild and domestic bird
        populations, with occasional spillover events in mammals, including humans.
    </p>

    <p>
        To learn more, follow these links to CDC pages on <a
            href="https://www.cdc.gov/bird-flu/virus-transmission/index.html" target="_blank">causes and spread</a>, <a
            href="https://www.cdc.gov/bird-flu/signs-symptoms/index.html" target="_blank">symptomatology</a>, and <a
            href="https://www.cdc.gov/bird-flu/situation-summary/index.html" target="_blank">updates on the current
        situation</a>.
    </p>

    <p>
        In March 2024, the H5N1 avian influenza virus was detected in dairy cattle in the U.S. for the first time,
        quickly evolving into a multi-state outbreak among humans, animals, and poultry linked to spillover events at
        commercial agriculture and related operations. This event marked the first instance of cow-to-human spread of
        bird flu globally. And prior to this outbreak, only one human case of avian influenza had ever been detected in
        the U.S.
    </p>
    <p>
        Within the U.S., multiple local, state, and federal agencies are responsible for protecting and monitoring
        human, environmental, and animal health. The resulting data collected by responding agencies is siloed, which in
        turn can hamper timely analysis and response, highlighting the need for an integrated One Health data collection
        approach. The outbreak emphasizes the need for integrated human-animal-environmental surveillance.
    </p>

    <p>
        As avian influenza infects more people, experts have raised concern over risk for mutation or viral reassortment
        through co-infection with the seasonal flu to create a viral strain that is transmissible between humans.
        Likewise, while most cases have been mild, the death of an individual from Louisiana underscores that there is a
        risk of severe disease as the virus continues to spread. Therefore, individuals, farms, and authorities must
        take precautions to protect humans from the virus and reduce pandemic risk. Enhanced cross-species surveillance
        and early intervention remain key to containing spread.
    </p>
</section>

<section id="data-analytical-notes">
    <h2>Data & Analytical Notes</h2>

    <p>
        G.h relies on publicly available data, and some variables may not be available for all cases. Therefore, figure
        sample sizes are based on data availability. For example, only 6% of confirmed cases have data on both age and
        gender, so the sample size for Figure 5 is relatively small.
    </p>

    <p>
        Curators have faced many challenges with building an emerging infectious disease dataset in real-time,
        including: delays in reporting for human cases, animal outbreaks, and wastewater detections, delays in
        confirmatory testing, limited data standardization within and across government organizations, lack of precision
        of language in the media (e.g., H5, H5N1 being used interchangeably with avian influenza), presentation of
        aggregated case data, limited case metadata, and retroactive removal and addition of impacted herds, flocks, and
        wastewater sites.
    </p>

    <p>
        G.h has conducted regular data reconciliation efforts to mitigate retroactive, unannounced, and unexplained
        changes and data discrepancies between G.h and our primary sources (WastewaterSCAN and USDA). USDA publishes the
        total number of cattle outbreaks on their website, and we are able to align counts on a daily basis. However,
        cumulative numbers are not available from USDA (Poultry) or WastewaterSCAN. Therefore, public data that are
        currently available from these sources may differ from the above counts.
    </p>
</section>

<section id="curator-notes">
    <h2>Curator Notes</h2>

    <h3>Probable Cases Discrepancy</h3>

    <p>
        <span class="update-with-date">Update 2025-01-17</span>: We are trying to update case information. Curators have
        attempted to contact the Los Angeles and Stanislaus County departments of health, but no reply. For now, the Los
        Angeles case is captured as 'Probable' Status in the G.h dataset (ID66). The G.h count for probable CA cases is
        2, which does not align with CDPH number, and we are aware of this discrepancy.
    </p>

    <p>
        <span class="update-with-date">Entry 2024-12-23</span>: On December 23rd, CDPH and CDC's websites for confirmed
        cases (related to cattle) increased by 1 case.
    </p>
    <p>
        However, news media reported two "confirmed" avian influenza cases on December 23rd - one case in Los Angeles,
        and another in Stanislaus County (Ref ID66 and ID67, Source I).
    </p>
    <p>
        Stanislaus explicitly states that CDC has confirmed the case.
    </p>
    <p>
        Los Angeles is less clear if CDC has confirmed the case or if the investigation is ongoing.
    </p>
    <p>
        So, to make sure the G.h confirmed count did not exceed CDPH and CDC totals, curators had to pick one case to
        add to our linelist.
    </p>
    <p>
        One possibility is that these 2 cases are the 2 confirmed cases from 12/20 and there was a delay in
        announcement.
    </p>
</section>
<!--<section>-->
<!--    <h2>Annex</h2>-->

<!--    <figure>-->
<!--        {{{ epicurve_interactive }}}-->
<!--        <figcaption>-->
<!--            Number of cumulative confirmed or probable cases-->
<!--            by date of entry.-->
<!--        </figcaption>-->
<!--    </figure>-->


<!--    <figure>-->

<!--        {{{ epicurve_location_state_status }}}-->

<!--        <figcaption>-->
<!--            Number of cumulative confirmed cases stratified by state. Probable cases having no confirmation date are-->
<!--            excluded from this graph.-->
<!--        </figcaption>-->
<!--    </figure>-->


<!--    <figure>-->

<!--        {{{ epicurve_location_county_status }}}-->

<!--        <figcaption>-->
<!--            Number of cumulative confirmed cases stratified by county. Probable cases having no confirmation date are-->
<!--            excluded from this graph.-->
<!--        </figcaption>-->
<!--    </figure>-->

<!--    <figure>-->

<!--        {{{ age_gender }}}-->
<!--        <figcaption>-->
<!--            Age and gender distribution of-->
<!--            Avian Influenza 2024 confirmed cases in United States of America.-->
<!--            {{ pc_valid_age_gender }}% of confirmed cases include-->
<!--            sufficient metadata to be included in this figure. When reported-->
<!--            age ranges span multiple age categories, counts are evenly-->
<!--            distributed among the categories that capture the reported age-->
<!--            range.-->
<!--        </figcaption>-->
<!--    </figure>-->

<!--    <figure>-->

<!--        {{{ delay_distribution_consult }}}-->

<!--        {{{ delay_distribution_death }}}-->

<!--        <figcaption>-->
<!--            Delay distributions from date of-->
<!--            symptom onset A) Between onset and first consult B) Between-->
<!--            onset and death. Only includes cases that have both date of onset-->
<!--            and either date of first consult (A) or date of death (B).-->
<!--        </figcaption>-->
<!--    </figure>-->
<!--</section>-->













